<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="ml-2">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">게시판</h1>
            <p class="mb-4">* 자유롭게 등록하세요</p>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <form class="form-horizontal mt-3" id="board_from">
                <input type="hidden" id="board_type" name="boardType" vlaue="CHAT">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="title" name="title" placeholder="title" th:value="${board.title}" readonly>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="board_content" class="col-sm-2 control-label">content</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <textarea type="text" class="form-control" id="board_content" name="content" placeholder="content" rows="10" readonly>[[*{board.content}]]</textarea>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label for="files" class="col-sm-2 control-label">File</label>
                    <div class="col-sm-10" th:each="file : ${board.files}" id="files">
                        <img th:src="${file.fileUrl}" class="rounded img-fluid" alt="blue-jean">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="file_name" class="col-sm-2 control-label">File</label>
                    <div class="input-group input-file col-sm-10" name="board_file">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary btn-choose" type="button">Choose</button>
                        </span>
                        <input type="text" class="form-control" id="file_name" placeholder='Choose a file...' />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-reset" type="button">Reset</button>
                        </span>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a th:if="${board.getMember().getUserId() == #authentication.principal.username}" th:href="@{/board/boardUpdate/{boardId}(boardId=${board.boardId})}" id="btn-update" role="button" class="btn btn-primary ml-3 my-3 text-white">수정</a>
                        <a href="/board/boards" id="btn-list" role="button" class="btn btn-primary ml-3 my-3 text-white">취소</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function(){


            $('#btn-save').click(function(e){
                e.preventDefault();

                if(!confirm("등록 하시겠습니까?")){
                    return false;
                }
                $('#board_from').submit();


                /*
                var files = $('#files')[0].files[0];
                var form_data = new FormData()
                form_data.append('title', $('#title').val())
                form_data.append('content', $('#content').val())
                form_data.append('files', files)

                // for(var i=0; i< files.length; ++i){
                //     form_data.append('files', files[i])
                // }

                const token = $("meta[name='_csrf']").attr('content');
                const header = $("meta[name='_csrf_header']").attr('content');

                console.log(form_data)

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/api/board',
                    data: form_data,
                    processData: false,
                    contextType: false,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function() {
                    alert('글이 등록되었습니다.');
                    window.location.href = '/board/board';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });

                 */
            })
        });
    </script>
</th:block>
</html>